{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
  {{ block.super }}
  {% if quote_duplicate_url %}
    <li class="dark:border-base-700 max-lg:first:rounded-t-default border-base-200 min-lg:first:rounded-l-default select-none min-lg:-ml-px hover:bg-base-500/8 max-lg:last:rounded-b-default border dark:hover:text-primary-500 min-lg:last:rounded-r-default max-lg:-mt-px hover:text-primary-600">
      <form method="post" action="{{ quote_duplicate_url }}">
        {% csrf_token %}
        <button type="submit" class="cursor-pointer flex grow items-center gap-2 px-3 py-2 text-left whitespace-nowrap">
          <span class="material-symbols-outlined">content_copy</span>
          {% trans "Копия черновиком" %}
        </button>
      </form>
    </li>
  {% endif %}
  {% if quote_create_order_url %}
    <li class="dark:border-base-700 max-lg:first:rounded-t-default border-base-200 min-lg:first:rounded-l-default select-none min-lg:-ml-px hover:bg-base-500/8 max-lg:last:rounded-b-default border dark:hover:text-primary-500 min-lg:last:rounded-r-default max-lg:-mt-px hover:text-primary-600">
      <form method="post" action="{{ quote_create_order_url }}">
        {% csrf_token %}
        <button type="submit" class="cursor-pointer flex grow items-center gap-2 px-3 py-2 text-left whitespace-nowrap">
          <span class="material-symbols-outlined">orders</span>
          {% trans "Создать заказ" %}
        </button>
      </form>
    </li>
  {% endif %}
{% endblock %}
