{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
  {{ block.super }}
  {% if original %}
    <li class="dark:border-base-700 max-lg:first:rounded-t-default border-base-200 min-lg:first:rounded-l-default select-none min-lg:-ml-px hover:bg-base-500/8 max-lg:last:rounded-b-default border dark:hover:text-primary-500 min-lg:last:rounded-r-default max-lg:-mt-px hover:text-primary-600">
      <form method="post" action="{% url 'admin:cabinet_speclist_create_quote' original.pk %}">
        {% csrf_token %}
        <button type="submit" class="cursor-pointer flex grow items-center gap-2 px-3 py-2 text-left whitespace-nowrap">
          <span class="material-symbols-outlined">request_quote</span>
          {% trans "В КП" %}
        </button>
      </form>
    </li>
  {% endif %}
{% endblock %}
